body {
    background-color: cornflowerblue;
    margin: 0%;
    padding: 0%;
}

.blue{ 
    background:beige;
    width: 900px; 
    padding: 20px; 
    margin: auto; 
    margin-top: 30px;
    border-radius: 5px;   
}

.ocher{ 
    background: burlywood;
    padding: 20px;
    margin-top: 10px;
}
.img{ 
    float: right;
    padding-top: 10px;
}

.table, .table th, .table td { 
    border: solid rgb(117, 107, 107) 1px;
    border-collapse: collapse;
    padding: 6px;
    background:rgb(201, 206, 211);
    
}

.table td { background:rgb(231, 217, 217);
}

span {color: blue;
}

p {font-family: serif;}

